@charset "UTF-8";

/*Device Breakpoints

Extra Pequeno: < 576px
Pequeno (Mobile Padrão): >= 576px
Médio (tablets): >= 768px
Grande (Laptops Pequenos): >= 992px
Extra Grandes (Desktop): >= 1400px
Extra Extra grande: >=1400px
*/

@media print{
    body main h1{
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
    body main{
        border: 2px solid black
    }
    main::after{
        content: "Impressão realizada no site do Arthur";
        text-decoration: overline;
        text-align: center;
    }
    #phone{
        display: none;
    }
    #tablet{
        display: none;
    }
    #print{
        display: block;
    }
    #pc{
        display: none;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    body{
        background-image: url(../imagens/back-tablet.jpg);

        #phone{
            display: none;
        }
        #tablet{
            display: block;
        }
        #print{
            display: none;
        }
        #pc{
            display: none;
        }
        #tv{
            display: none;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px){
    body{
        background-image: url(../imagens/back-pc.jpg);
        #phone{
            display: none;
        }
        #tablet{
            display: none;
        }
        #print{
            display: none;
        }
        #pc{
            display: block;
        }
        #tv{
            display: none;
        }
    }
}

@media screen and (min-width: 1400px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
        #phone{
            display: none;
        }
        #tablet{
            display: none;
        }
        #print{
            display: none;
        }
        #pc{
            display: none;
        }
        #tv{
            display: block;
        }
    }
}